<div class="row">

  <div class="col-md-6 login-container">
    <h2 style="margin: auto">Login </h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="username">UserName:</label>
        <input type="text" class="form-control" formControlName="username" id="username" autocomplete="off">
        <div class="error" *ngIf="loginForm.controls['username'].hasError('required') && loginForm.controls['username'].touched">Username is required</div>
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" formControlName="password" id="pwd" autocomplete="off">
        <div class="error" *ngIf="loginForm.controls['password'].hasError('required') && loginForm.controls['password'].touched">Password is required</div>
      </div>
      <button class="btn btn-success" [disabled]="loginForm.invalid">Login</button>
      <div *ngIf="invalidLogin" class="error">
        <div>Invalid credentials.</div>
      </div>
    </form>
  </div>
</div>

<mat-card class="example-card"  style="float:left">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Currencys</mat-card-title>
    <mat-card-subtitle>actual distribution</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://steemitimages.com/DQmYhq2DGvxDgKRK7koysTYYVi14j8jsffLJhbxyz7DF16X/Cryptocurrency%20Distribution%20on%2019-08-2017%20pie%20chart.PNG" alt="Verteilung">
  <mat-card-content>
    <p>
      Blahblahblah
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Update</button>
    <button mat-button>Edit</button>
  </mat-card-actions>
</mat-card> 

<mat-card class="example-card" style="float:left">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Currencys</mat-card-title>
    <mat-card-subtitle>last 24 h distribution</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://i.redd.it/teyeczyp12a01.png" alt="24 hVerteilung">
  <mat-card-content>
    <p>
      Blahblahblah
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Update</button>
    <button mat-button>Edit</button>
  </mat-card-actions>
</mat-card> 

<mat-card class="example-card"  style="float:left">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Currencys</mat-card-title>
    <mat-card-subtitle>actual distribution</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://steemitimages.com/DQmYhq2DGvxDgKRK7koysTYYVi14j8jsffLJhbxyz7DF16X/Cryptocurrency%20Distribution%20on%2019-08-2017%20pie%20chart.PNG" alt="Verteilung">
  <mat-card-content>
    <p>
      Blahblahblah
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Update</button>
    <button mat-button>Edit</button>
  </mat-card-actions>
</mat-card> 

<mat-card class="example-card" style="float:left">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Currencys</mat-card-title>
    <mat-card-subtitle>last 24 h distribution</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://i.redd.it/teyeczyp12a01.png" alt="24 hVerteilung">
  <mat-card-content>
    <p>
      Blahblahblah
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Update</button>
    <button mat-button>Edit</button>
  </mat-card-actions>
</mat-card> 